* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:150%;

    border-radius: 5px;
}

:root {
    --panel-width: 800px;
    --inner-panel-size: 200px;
}

.shadow {
    box-shadow: 0px 5px 2px black;
}

button:active {
    background: white;
    -webkit-box-shadow: inset 0px 0px 10px white;
       -moz-box-shadow: inset 0px 0px 10px white;
            box-shadow: inset 0px 0px 10px white;
     outline: none;
}

body.p5 {
    justify-content: center;
    display:flex;
    background-color: black;
    cursor:none;
    padding:20px;
}

div.panel {
    width:var(--panel-width);
    max-width: 1500px;
    height:var(--panel-height);
    background-color: #5A5A5A;

    border-right: 50px;
    cursor:default;
    margin-right: 5px;
    min-height: 800px;


}



div.innerPanel {
    margin:20px;
    padding:15px;
    background-color: #101111;
    height:var(--inner-panel-size);
    min-height: 820px;

    justify-content: flex-end;



}

li {
    font-size: 20px;
    color:white;
    margin-left:1%;
}

p.innerPanel {
    font-size: 24px;
    color:white;
    text-align: left;

}

p.identity {
    font-size: 24px;
    color:white;
    
    margin-left:2%;
    margin-right:2%;


    background-color: #101111;

    border: 2px solid;
    border-color: white;
    border-radius: 10px;

    line-height:170%;
}

label.title {
    font-size:36px;
    margin-top:1%;
}

input.gridInput {
    font-size: 20px;
    color:white;
    background-color: #101111;
    text-align:center;

    width:100px;
    height:50px;

    border:2px solid;
    border-color:white;
    border-radius: 10%;

    margin-top:2%;
    padding-left:5%;
    padding-right:5%;
}

button.gridButton {
    font-size: 24px;
    color:white;
    background-color: #101111;
    width:100px;
    height:50px;

    border:2px solid;
    border-color:white;
    border-radius: 10%;
}

button.navButton {
    font-size: 24px;
    color:white;
    background-color: #101111;
    
    min-height: 60px;
    height:90%;
    width:80%;

    margin-top: 5%;

    align-items: center;

    border:2px solid;
    border-color:white;
    border-radius: 10%;

}

img.navButton {
    margin:auto;
    margin-top:10%;
    border:2px;
    border-color:white;
    border-radius:10%;
}


button.square {
    height:50px;
    width:50px;
}



label.gridLabel {
    font-size:22px;
    width:100px;
    color:white;
    padding-left: 10%;
    padding-right: 10%;

    background-color: #101111;

    border: 2px solid;
    border-color: white;
    border-radius: 10px;
}

label.calcLabel {
    font-size:22px;


    color:white;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top:1%;
    padding-bottom:1%;
    
    background-color: #101111;

    border: 2px solid;
    border-color: white;
    border-radius: 10px;
}

label.identity{
    height:50px;

    font-size:24px;


    color:white;

    padding:2%;

    padding-left: 5%;
    padding-right: 5%;

    background-color: #101111;

    border: 2px solid;
    border-color: white;
    border-radius: 10px;
}

label.identityTitle {
    font-size: 28px;
    color:white;
}

label.title {
    font-size:56px;
    color:white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-top:5%;
    margin-bottom:5%;
}

.grid-item {
    border: 2px solid;

    padding-top: 5%;
    padding-bottom: 5%;

    text-align: center;
    width:auto;
    height:auto;

    background-color: #5A5A5A;


    border-radius: 10%;
    border-color: white;
}

.grid-container-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2%;
    margin-top:5%;
    margin-bottom:5%;
}
  
.grid-item-nav {
    
    border: 2px solid;

    padding: 5%;
    padding-bottom:10%;

    text-align: center;

    background-color: #5A5A5A;


    border-radius: 10%;
    border-color: white;
}

.grid-container-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin-top:5%;
    margin-bottom:5%;
}

.grid-item-info {
    color:white;
    border: 2px solid;
    font-size: 24px;

    padding-top: 2%;
    padding-bottom: 2%;

    text-align: center;
    width:auto;
    height:auto;

    background-color: #5A5A5A;

    background-color: #101111;

}

