* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --canvas-size: 800px;
    --inner-panel-size: 200px;

}


body.p5 {
    justify-content: center;
    display:flex;
    align-items: center;
    background-color: black;
    cursor:none;
    padding:20px;
}

div.panel {
    width:var(--panel-width);
    max-width: 1500px;
    height:var(--canvas-size);
    max-height: 1500px;
    background-color: #5A5A5A;

    border-right: 50px;
    cursor:default;
    margin-right: 5px;
    min-height: 1000px;

}

div.innerPanel {
    margin:20px;
    padding:15px;
    background-color: #101111;
    height:var(--inner-panel-size);
    
    min-height: 930px;


    justify-content: flex-end;


}

button {
    font-size: 24px;
    color:white;
    float:right;
    min-width: 40px;
    height: 40px;
    margin:1px;

    background-color: #101111;
    

}

br {
    margin:1px;
}

button.trig {
    float:right;
    width:40px;
    height:40px;
}


label {
    font-size: 24px;

    color:white;
    float:left;
}

label.title {
    font-size: 36px;
}

p.innerPanel {
    font-size: 18px;
    color:white;

}

li {
    font-size: 18px;
    color:white;
}

/*
input {
    font-size: 16px;
    color:white;

    background-color: #101111;
}
*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
  }

